.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #e8eff1; /* Легкий голубой фон */
	font-family: 'Roboto', sans-serif; /* Современный шрифт */
	transition: background-color 0.5s ease; /* Плавный переход для фона */
}

.header {
	text-align: center;
	margin-bottom: 2rem;
	animation: fadeIn 1s ease-in-out; /* Анимация для заголовка */
}

.title {
	font-size: 3rem; /* Большее значение для заголовка */
	font-weight: 700; /* Сделаем текст жирным */
	color: #333333; /* Темно-серый цвет */
	transition: transform 0.3s ease; /* Анимация для заголовка */
}

.title:hover {
	transform: translateY(-5px); /* Поднятие текста при наведении */
}

.subtitle {
	font-size: 1.4rem; /* Увеличенный размер подзаголовка */
	color: #4a5568; /* Светло-серый для подзаголовка */
	margin-top: 0.5rem;
	transition: opacity 0.3s ease; /* Плавное исчезание */
}

.subtitle:hover {
	opacity: 0.8; /* Легкое уменьшение непрозрачности */
}

.button-container {
	display: flex;
	gap: 1.5rem;
}

.btn-primary {
	padding: 1.2rem 2.5rem;
	background-color: #6c63ff; /* Ярко-фиолетовый */
	color: white;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.1rem; /* Немного больший размер шрифта */
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s ease; /* Плавный переход для фона и трансформации */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
}

.btn-primary:hover {
	background-color: #5a4ad1; /* Темнее фиолетовый */
	transform: translateY(-3px); /* Легкое поднятие при наведении */
}

.btn-secondary {
	padding: 1.2rem 2.5rem;
	background-color: #ff6f61; /* Теплый коралловый */
	color: white;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.1rem; /* Немного больший размер шрифта */
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s ease; /* Плавный переход для фона и трансформации */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
}

.btn-secondary:hover {
	background-color: #e85c50; /* Темнее коралловый */
	transform: translateY(-3px); /* Легкое поднятие при наведении */
}

.footer {
	margin-top: 2rem;
	font-size: 1rem; /* Чуть увеличенный размер шрифта */
	color: #4a5568;
	transition: opacity 0.3s ease; /* Плавное исчезание */
}

.footer:hover {
	opacity: 0.7; /* Легкое уменьшение непрозрачности */
}

/* Анимация появления */
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
